main{
    min-height: 90vh;
    max-width: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    padding: 1rem;
}

.navigation-bar{
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 2rem;
}
.navigation-bar__links--container{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__links{
    color: var(--font-color-1);
}

.main__section{
    min-width: fit-content;
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: 1rem;
}

.section__image-container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section__image{
    height: var(--image-height-mobile-p3);
    width: var(--image-width-mobile-p3);

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.section__product-info{
    height: fit-content;
    width: 100%;

    display: flex;

    color: var(--font-color-1);
}

.list__product-info{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
}

.list__size{
    width: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    list-style-type: none;
}


.section__link-container{
    width: 100%;
    height: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.section__link--order{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background-color: rgb(6, 6, 6);
}

a{
    color: var(--font-color-1);
}


@media screen and (min-width:754px) {

    .section__image{
        height: var(--image-height-desktop-2);
        width: var(--image-width-desktop-2);
    }

    .section__link--order{
        width: 30%;
    }
    
}